body {
  margin: 0 auto;
  max-width: 480px;
  background-color: color-mix(in srgb, var(--color-body) 85%, black 15%);
}

body > div#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--color-body);
}
