body {
  transition:
    background-color 0.25s,
    color 0.25s;
  color: var(--color-text);
  background-color: var(--color-body);
  color-scheme: var(--color-scheme);
}

.var-alert .var-alert__message {
  line-height: unset;
}

.var-progress {
  width: 100%;
}

.var-progress .var-progress__linear-label {
  flex: unset;
}
